h1{
    color: brown;
}
.container {
    position: relative;
    text-align: center;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Adjust color to be visible on the image */
    font-size: 24px; /* Adjust font size as needed */
  }
  